<%- model_class = Apartamento -%>

<br>
<%= render :partial => 'navbar' %>  
<% if (current_user.apt_login_id == nil) %>
<div class="form-group">   
  <%= search_form_for @q do |f|%>
  <div class="col-xs-2">
    <%= f.search_field :local_cont, placeholder: 'Bloco e Número', :class => 'form-control local' %>
  </div>

  <div class="col-xs-2">
    <%= f.search_field :nome_proprietario_cont, placeholder: 'Proprietário', :class => 'form-control' %>
    
  </div> 
  
  <div class="col-xs-2">
    <%= f.search_field :cpf_proprietario_cont, placeholder: 'CPF do Proprietário', :class => 'form-control cpf' %>
  </div> 
  
  <div class="col-xs-2">
    <%= f.search_field :nome_morador_cont, placeholder: 'Morador', :class => 'form-control' %>
  </div> 

  <div class="col-xs-2">
    <%= f.search_field :matricula_iptu_cont, placeholder: 'Matrícula IPTU', :class => 'form-control iptu' %>
  </div>

  <div class="col-xs-1">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
  <% end %>  
</div>

<br>
<br>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@q, :local,'Bloco e Número', default_order: :desc)%></th>
      <th><%= sort_link(@q, :nome_proprietario,'Proprietário') %></th>
      <th>CPF do Proprietário</th>
      <th><%= model_class.human_attribute_name("Morador Atual") %></th>
      <th><%= sort_link(@q, :created_at,'Criado em:') %></th>
    </tr>
  </thead>
  <tbody>
    <% @apartamentos.each do |apartamento| %>
      <tr>
        <td><%= apartamento.local %></td>
        <td><%= apartamento.nome_proprietario %></td>
        <td><%= apartamento.cpf_proprietario %></td>
        <td><%= apartamento.nome_morador %></td>
         <td><%= apartamento.created_at.strftime("%d/%m/%Y") %></td>
        <td>
          <%= link_to t('.show', :default => t("Mais")),
                      apartamento_path(apartamento), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("Editar")),
                      edit_apartamento_path(apartamento), :class => 'btn btn-default btn-xs' %>
          <!--<%= link_to t('.destroy', :default => t("Apagar")),
                      apartamento_path(apartamento),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem certeza?')) },
                      :class => 'btn btn-xs btn-danger' %>-->
                     
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("Adicionar Novo Apartamento")),
            new_apartamento_path,
            :class => 'btn btn-primary' %>
<% end %>