<%= form_for @boleto, :html => { :class => "form-horizontal boleto" } do |f| %>

  <% if @boleto.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@boleto.errors.count, "error") %> prohibited this boleto from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @boleto.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :apartamento_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :apartamento_id, options_for_select(@apartamento.map{ |c| [c.local, c.id, {'local'=>c.local}] }, apartamento_id = f.object.apartamento_id) %>
    </div>
    <%=f.error_span(:apartamento_id) %>
  </div>

  <div class="form-group">
    <%= f.label "Data de Emissão", :class => 'control-label col-lg-2' %>
  
    <div class="col-lg-10">
     <%= f.date_select :data_emissao, :class => 'form-control ' %>
    </div>
    <%=f.error_span(:data_emissao) %>
  </div>

  <div class="form-group">
    <%= f.label "Data de Vencimento", :class => 'control-label col-lg-2' %>
    
    <div class="col-lg-10">
     <%= f.date_select :data_vencimento, :class => 'form-control' %>
    </div>
    <%=f.error_span(:data_vencimento) %>
  </div>

  <div class="form-group">
    <%= f.label "Código", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :codigo, :id => 'codigo', :class => 'form-control',:placeholder=>' 000000000', :maxlength=>"9" %>
    </div>
    <%=f.error_span(:codigo) %>
  </div>
  <div class="form-group">
    <%= f.label "Valor do boleto(R$)", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :valor_boleto, :class => 'form-control',:placeholder=>' 000,00', :maxlength=>"20" %>
    </div>
    <%=f.error_span(:valor_boleto) %>
  </div>
  <div class="form-group">
    <%= f.label "Juros(R$)", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :juros_boleto, :class => 'form-control',:placeholder=>'000,00', :maxlength=>"20" %>
    </div>
    <%=f.error_span(:juros_boleto) %>
  </div>
 
  <div class="form-group">
    <%= f.label "Pago", :class => 'control-label col-lg-2' %>
    <div class="col-lg-1">
      <%= f.check_box :status, :class => 'form-control' %>
    </div>
  </div>
  



  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("Cancelar")),
                boletos_path, :class => 'btn btn-default' %>
    </div>
   
  </div>

<% end %>
