<%- model_class = Boleto -%>
<br>
<div class="form-group">   
  <%= search_form_for @q do |f|%>

  <div class="col-xs-2">
    <%= f.search_field :apartamento_local_cont, placeholder: 'Apartamento', :class => 'form-control' %>
  </div>

 <div class="col-xs-2">
    <%= f.search_field :codigo_cont, placeholder: 'Código', :class => 'form-control' %>
    
  </div>

  <div class="col-xs-2">
    <%= f.search_field :apartamento_nome_proprietario_cont, placeholder: 'Proprietário', :class => 'form-control' %>
    
  </div> 
  
  <div class="col-xs-2">
    <%= f.search_field :apartamento_cpf_proprietario_cont, placeholder: 'CPF do Proprietário', :class => 'form-control' %>
  </div> 

  <div class="col-xs-2">
    <%= f.search_field :data_vencimento_cont, placeholder: 'Data de Vencimento', :class => 'form-control' %>
  </div>

  <div class="col-xs-2">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
  <% end %>  
</div>

<br>
<br>
<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name("Apartamento") %></th>
      <th><%= model_class.human_attribute_name("Código do Boleto") %></th>
      
      <th><%= model_class.human_attribute_name("Data de Emissão") %></th>
      <th><%= model_class.human_attribute_name("Data de Vencimento") %></th>
      <th><%= model_class.human_attribute_name("Status") %></th>
    </tr>
  </thead>
  <tbody>
      <% @boletos.each do |boleto| %>
      
      <tr>
        <td><%= boleto.apartamento.local %></td>
        <td><%= boleto.codigo %></td>
        <td><%= boleto.data_emissao.strftime("%d/%m/%Y")%></td>
        <td><%= boleto.data_vencimento.strftime("%d/%m/%Y")%></td>
        <% if(boleto.status == true)%>
        <td  bgcolor="dce775" ><%= 'Pago' %></td>
        <% else %>
        <td bgcolor="ff9e80" ><%= 'Pendente' %></td>
        <% end %>
        <td>
       
          <%= link_to t('.show', :default => t("Mostrar")),
                      boleto_path(boleto), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("Editar")),
                      edit_boleto_path(boleto), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("Apagar")),
                      boleto_path(boleto),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem certeza?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
  </tbody>
  <% end %>
</table>
<% if(@apartamento != []) %>
<%= link_to t('.new', :default => t("Adicionar Novo Boleto")),
            new_boleto_path,
            :class => 'btn btn-primary' %>
<% end %>