<%- model_class = Boleto -%>
<%= render :partial => 'navbar' %>
<div class="page-header">
 <h1>Dados do Apartamento <%= @boleto.apartamento.local%></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name("Código do Boleto") %>:</strong></dt>
  <dd><%= @boleto.codigo %></dd>
  <dt><strong><%= model_class.human_attribute_name("Valor") %>:</strong></dt>
  <dd><%= @boleto.valor_boleto %></dd>
  <dt><strong><%= model_class.human_attribute_name("Juros") %>:</strong></dt>
  <dd><%= @boleto.juros_boleto %></dd>
  <dt><strong><%= model_class.human_attribute_name("Data de Emissão") %>:</strong></dt>
  <dd><%= @boleto.data_emissao.strftime("%d/%m/%Y") %></dd>
  <dt><strong><%= model_class.human_attribute_name("Data de Vencimento") %>:</strong></dt>
  <dd><%= @boleto.data_vencimento.strftime("%d/%m/%Y") %></dd>
  <dt><strong>Proprietária</strong></dt>
  <dd><%= @boleto.apartamento.nome_proprietario %></dd>
  <dt><strong>CPF Proprietária</strong></dt>
  <dd><%= @boleto.apartamento.cpf_proprietario %></dd>
  <dt><strong><%= model_class.human_attribute_name("Status") %>:</strong></dt>
  
  <% if(@boleto.status == true)%>
        <dd><%= 'Pago' %></dd>
  <% else %>
        <dd><%= 'Pendente' %></dd>
  <% end %>
</dl>

<%= link_to t('.back', :default => t("Voltar")),
              boletos_path, :class => 'btn btn-default'  %>
<% if (current_user.apt_login_id == nil) %>
<% if(@boleto.status != true)%>
<%= link_to t('.edit', :default => t("Editar")),
              edit_boleto_path(@boleto), :class => 'btn btn-default' %>
<% end %>
<%= link_to t('.destroy', :default => t("Apagar")),
              boleto_path(@boleto),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<% end %>